:root {
  --green-color:#537343;
  --green-light:#D5E6CC;
  --hero-section-color:#B8C0B8;
  --white:white;
}
html {
  scroll-behavior: smooth;
}


/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:rgb(186, 186, 186); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:rgb(133, 133, 133); 
}
@font-face {
  font-family: 'peinaudmed';
  src: url('./assets/peinaudmed.ttf') format('truetype');
  /* You can include additional font formats like WOFF or WOFF2 for better browser support */
}


@font-face {
  font-family: 'futura';
  src: url('./assets/futura.ttf') format('truetype');
  /* You can include additional font formats like WOFF or WOFF2 for better browser support */
}
#nav {
  background-color: white;
}

body, * {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: fit-content;
  font-family:sans-serif;


}

.hero-section {
  background-repeat: no-repeat;
  background-size: cover;
  height:600px;
  background-position: center;
}

.bg-hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}


.button-hero-section {
  margin-top: 20px;
  font-family: 'futura';
}
.learn-more, .buy-now {
  background-color: var(--green-color);
  color: white;
  border: 2px solid var(--green-color);
  padding: 10px;
  transition: ease-in-out 100ms;
  border-radius: 4px;
}

.learn-more:hover,.buy-now:hover  {
  background: none;
  color: var(--green-color);
}
nav {
  padding-top: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


nav > a{
  text-decoration: none;
  font-family: 'peinaudmed';

}

.advetage-right > img {
  width: 500px;
}

.logo > center > img {
  width: 350px;
}
.nav-item  {
  display: flex;
  gap: 40px;
}
.nav-item > a {
  text-decoration: none;
}
.nav-item > a > li {
  list-style-type: none;
  font-weight: bolder;
  font-family: 'futura';

  color: var(--green-color);
}

.title-hero > h1 {
  font-family: 'peinaudmed';
  font-size: 65px;
  letter-spacing: 5px;
}

.title-hero > h2 {
  font-family: 'futura';
  max-width: 50%;
  margin-top: 20px;
  color: rgb(0, 0, 0);
  font-weight: lighter;
  font-size: 25px;
}

.title-hero {
  margin-left: 100px; 
  margin-top: 100px
}

.about-section {
  border-top:70px solid white;
  margin-bottom: 160px;
  width: 100%;
}

.content-about {
  display: flex;
  justify-content: center;
  
}


.product-card {
  border-radius: 20px;
  width: fit-content;
  height: 329px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 }

 .product-card > figure  {
  padding: 5px;
  position: relative;
  cursor: pointer;
 }
.product-card > figure > center > img {
 width: 250px;
}
.img-about-product {
  width: 400px;
}
.product-card > figure > figcaption{
  position: absolute;
  bottom: 0px;
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
}

.before-about > h1{
 font-size: 130px;
}
.text-description {
  width: 650px;
  font-family: 'futura';
}
.text-description > .titleAboutContainer {
  height: 40px;
}
.text-description > .titleAboutContainer> h3 {
  font-size: 50px;
  color: var(--green-color);
  position: absolute;
  letter-spacing:2px;
}

#dermawash-span-about {
  font-family: 'peinaudmed';
  letter-spacing: 3px;
}
.text-description > p {
  font-size: 400px;
  margin-top: 30px;
}

.title-about {
  margin-bottom: 20px;
  font-size: 40px;
}
.text-description > p {
  font-size: 26px;
  margin-top:40px;
}
.advantage-section {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}


.card-adv {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border-radius: 15px;
}
 p {
  font-family: 'futura';

 }
.title-advantage {
 font-size: 45px;
}

.img-adv {
  width: 200px;
}

.advantage-item > div {
  display: flex;
  justify-content: center;

}

.advantage-section > div {
  display: flex;
}

.product-list {
  width:1100px;

}


.product-image-container {
  transform: translateX(23px);
  width: 500px;

}
.text-description > div> h3 {
  font-size: 30px;
  color: black;
  position: absolute;
  letter-spacing:2px;
}


.description-about {
  width: fit-content;
  height: 285px;
}

.testimonial-section {
  display: flex;
  justify-content: center;
  align-items: center;

}

.testimonial-lists {
display: grid;
gap: 50px;
}

.testimonial {
  display: flex;
  background-color: var(--green-light);
  color: rgb(67, 67, 67);
  padding: 30px;
  border-radius: 0px 20px 20px 0px;
  border-left: 6px solid rgb(103, 173, 103);
  gap: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.testimonial > .message {
  display: flex;
  align-items: center;
  font-family: 'futura';
  width: 600px;
}

.testimonial-1 {
  display: flex;
  background-color: #DEB1B8;
  color: rgb(67, 67, 67);
  padding: 30px;
  border-radius: 20px 0px 0px 20px;
  border-right: 6px solid rgb(231, 115, 133);
  gap: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.testimonial-1 > .pp > img{
  border-radius: 500px;
  width: 180px;
  height: 180px;
}

.fa .fa-star {
  text-rendering: optimizeLegibility;

}
.testimonial-1 > .message >.star {
  display: flex;
  justify-content: end;

}

.testimonial-1 > .message {
  display: grid;
  justify-content: right;
  align-items: center;
  font-family: 'futura';
  width: 600px;
}
.testimonial-1 > .message >.text {
  font-size: larger;
}

/* - */
.testimonial-2 {
  display: flex;
  background-color: #AE8DBA;
  color: rgb(67, 67, 67);
  padding: 30px;
  border-radius: 0px 20px 20px 0px;
  border-left: 6px solid #a462bd;
  gap: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.testimonial-2 > .pp > img{
  border-radius: 500px;
  width: 180px;
  height: 180px;
}



.testimonial-2 > .message {
  font-family: 'futura';
  width: 600px;
}
.testimonial-2 > .message >.text {
  font-size: larger;
}
.star {
color: rgb(255, 174, 0);
font-size: 30px;
}
.testimonial > .pp > img{
  border-radius: 500px;
  width: 180px;
  height: 180px;
}

.testimonial > .message {
  display: grid;
  justify-content: center;
  font-family: 'futura';
  width: 600px;
}

.testimonial > .message > .star {
  display: flex;
  justify-content:start;
}
.testimonial > .message >.text {
  font-size: larger;
}

#pp-phone {
  display: none;
}
.right1-product-testi1 {
   transform:translateX(705px) translateY(-120px) rotate(10deg);
}
.right1-product-testi2 { 
  transform:translateX(760px) translateY(-120px) rotate(10deg);
}
.left2-product-testi1 {
  transform:translateX(4px) translateY(-150px) rotate(-10deg);
}
.left2-product-testi2 { 
 transform:translateX(-30px) translateY(-120px) rotate(-10deg);
}


.right3-product-testi1 {
  transform:translateX(715px) translateY(-120px) rotate(10deg);
}

.right3-product-testi2 { 
  transform:translateX(760px) translateY(-120px) rotate(10deg);
 }

.desc-down {
  font-size: 24px;
}

.footer {
  margin-top: 200px;
  background-color: var(--green-light);
}
.contact-us {
  display: grid;
  align-items: center; 

}
.content-footer {
  display: flex;
  padding: 50px;
  justify-content: center;
  gap: 100px;
}

.social-media {
  padding-right: 10px;
}

.header-footer {
  color: white;
  background-color: #537343;
  width: fit-content;
  padding: 20px;
  font-size: 45px;
  position: absolute;
  font-family: 'futura';
  font-weight:lighter;
  border-radius: 25px;
  transform: translateY(-45px);
}

.footer-logo  > img{
  width: 60px;
}
.footer-logo  {
  display: flex;
  gap: 20px;
} 
.footer-logo  > p{
  display: grid;
  align-items: center;
  font-family: 'peinaudmed';
  display: flex;
  letter-spacing: 3px;
  font-size: 30px;
} 
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .header-footer {
    color: white;
    background-color: #537343;
    width: fit-content;
    padding: 20px;
    font-size: 30px;
    position: absolute;
    font-family: 'futura';
    font-weight:lighter;
    border-radius: 25px;
    transform: translateY(-45px);
  }
  .content-footer {
    display: grid;
    padding: 50px;
    justify-content: center;
    gap: 60px;
  }
.title-about {
  font-size: 40px;
}
  .right1-product-testi1 {
    transform:translateX(145px) translateY(-110px) rotate(10deg);
  }

 .right1-product-testi2 { 
  transform:translateX(200px) translateY(-100px) rotate(10deg);
 }
 .left2-product-testi1 {
  transform:translateX(159px) translateY(-110px) rotate(10deg);
}
 .left2-product-testi2 { 
  transform:translateX(200px) translateY(-100px) rotate(10deg);
 }

 .right3-product-testi1 {
  transform:translateX(150px) translateY(-110px) rotate(10deg);
}

.right3-product-testi1  > img {
  width: 80px;
}

.right3-product-testi2 { 
  transform:translateX(200px) translateY(-100px) rotate(10deg);
 }
#pp-desktop {
  display: none;
}

#pp-phone {
  display: block;
}
  .testimonial-1, .testimonial-2, .testimonial {
    display: grid;
  }
  .testimonial-1 > .message, .testimonial-2 > .message, .testimonial > .message {
    display: grid;
    justify-content: right;
    align-items: center;
    font-family: 'futura';
    width: 200px;
  }
  .product-list {
    width:350px;
  
  }
  .product-card > figure > center > img {
 width: 250px;
 transform: scale(1.3);
}

.advetage-right > img {
  width: 340px;
}
 
  .advantage-section > div {
    display: block;
  }
  .advantage-item > div {
    display: grid;
    justify-content: center;
    
  }
  .logo > center > img {
    width: 300px;
  }

  .img-about-product {
    width: 350px;
  }
  .title-hero > h1 {
    font-family: 'peinaudmed';
    font-size: 40px;
  }

  .img-adv {
    width: 200px;
  }
  .title-hero {
    margin-left: 30px; 
    margin-top: 100px
  }
  .title-hero > h2 {
    max-width: 100%;
    color: white;
    font-size: 30px;
  }

  nav {
    padding-top: 20px;
    display: grid;
    gap: 10px;
    align-items: center;
  }
  
.before-about > h1{
  font-size: 60px;
 }

 .content-about {
  display: grid;
  justify-content: center;
} 
.product-image-container {
  transform: translateX(-4px);
  width: fit-content;

}

.description-about {
  margin-top: 350px;
  width: fit-content;
  height: fit-content;
}
.text-description {
  width: 300px;
  font-family: 'futura';
  white-space: nowarp;
}
.text-description > .titleAboutContainer {
  height: 40px;
}
.text-description > div> h3 {
  font-size: 30px;
  color: black;
  position: absolute;
  letter-spacing:2px;
}

.text-description > p {
  font-size: 20px;
  margin-top:24px;
}
.bg-hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center   ;
}

.contact-us {
  display: grid;
  align-items: center; 
gap: 2px;
}
.contact-us > p {
  font-size: 20px;
}
.contact-us > p> a {
  font-size: 15px;
}
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}
